.container {
    margin: 1em;
}

#team > div {
    width: 30em;
    overflow: hidden;
    margin-bottom: 1em;
}

#team img {
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 1em;
}

p.name {
    font-weight: bold;
}
