{% extends "layout.html" %}
{% block content %}
    <p style="font-weight: bold;">Welcome to OpenAtlas</p>
    <p class="mb-4">
        OpenAtlas is an open source database software developed especially to acquire, edit
        and manage research data from various fields of humanities like history, archaeology and
        prosopography. It provides a user interface that can be accessed via any common web-browser
        and allows the respective researchers to work with their data via customized forms and
        categories to record complex relations as simple as possible.
    </p>
    <p class="mb-4">
        The software automatically maps the information to the international standard of the
        <a href="http://www.cidoc-crm.org/" target="_blank">CIDOC CRM</a> and takes care of today's
        requirements regarding data standards, data management and aims for
        <a href="https://en.wikipedia.org/wiki/FAIR_data" target="_blank">FAIR</a> principles
        against the background of current standards in Digital Humanities.
        The software builds on open source technology, is and will always be free and open source to
        guarantee continued usage.
    </p>

    <p class="mb-4">
        <a href="https://demo.openatlas.eu" target="_blank">Demo</a><br>
        <a href="https://demo-dev.openatlas.eu" target="_blank">Development Demo</a><br>
        <a href="https://demo.openatlas.eu/static/manual" target="_blank">Manual</a><br>
        <a href="https://redmine.openatlas.eu/projects/uni/wiki/Documentation" target="_blank">Documentation</a>
    </p>

    <!-- The Gallery as lightbox dialog -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <p class="mb-1" style="font-weight: bold;">Screenshots</p>
    <div id="links" class="mb-5">
        <a href="/static/images/screenshot/1_big.png" title="About">
            <img class="screenshot" src="/static/images/screenshot/1_small.png" alt="About">
        </a>
        <a href="/static/images/screenshot/2_big.png" title="Place overview">
            <img class="screenshot" src="/static/images/screenshot/2_small.png" alt="Place overview">
        </a>
        <a href="/static/images/screenshot/3_big.png" title="Place insert">
            <img class="screenshot" src="/static/images/screenshot/3_small.png" alt="Place insert">
        </a>
        <a href="/static/images/screenshot/4_big.png" title="Network">
            <img class="screenshot" src="/static/images/screenshot/4_small.png" alt="Network">
        </a>
        <a href="/static/images/screenshot/5_big.png" title="Types">
            <img class="screenshot" src="/static/images/screenshot/5_small.png" alt="Types">
        </a>
        <a href="/static/images/screenshot/7_big.png" title="Model">
            <img class="screenshot" src="/static/images/screenshot/7_small.png" alt="Manual">
        </a>
        <a href="/static/images/screenshot/6_big.png" title="Model">
            <img class="screenshot" src="/static/images/screenshot/6_small.png" alt="Model">
        </a>
    </div>
    <p class="mb-1" style="font-weight: bold;">How to use OpenAtlas</p>
    <p>
        OpenAtlas is not a stand alone application but meant to be installed on a Linux web server.
        The code is open source (GPL 2) and freely available on
        <a href="https://github.com/craws/OpenAtlas" target="_blank">GitHub</a>. Some experience
        about server administration is required, for more information please take a look at the
        <a href="https://github.com/craws/OpenAtlas/blob/master/install.md" target="_blank">
        install notes</a>.
    </p>
    <p>
        Development was and is funded by several <a href="{{ url_for('projects') }}">projects</a>,
        grants, institutes  and departments:
    </p>
    <div id="credits" class="mb-5">
        {{ ['OEAW', 'ACDH', 'IMAFO', 'ERC', 'univie', 'FWF']|display_institutes|safe }}
    </div>
    <p>
        Feel free to contact us at <a href="mailto:openatlas@oeaw.ac.at">openatlas@oeaw.ac.at</a>.
    </p>
    <script src="/static/js/gallery.js"></script>
    <script src="/static/vendor/blueimp-gallery-2.33.0/js/blueimp-gallery.min.js"></script>
{% endblock %}
