{% extends "layout.html" %}
{% block content %}
    <p style="font-weight: bold;">Welcome to OpenAtlas</p>
    <p class="mb-3">
        OpenAtlas is an open source database software developed especially to acquire, edit
        and manage research data from various fields of humanities like history, archaeology and
        prosopography as well as related scientific data (e.g. radiocarbon dating, stable isotopes
        and anthropological information). It provides a user interface that can be accessed via any
        common web-browser and allows the respective researchers to work with their data via
        customized forms and categories to record complex relations as simple as possible.
    </p>
    <p class="mb-3">
        The software automatically maps the information to the international standard of the
        <a href="https://www.cidoc-crm.org/" target="_blank">CIDOC CRM</a> and takes care of today's
        requirements regarding data standards, data management and aims for
        <a href="https://www.force11.org/fairprinciples" target="_blank">FAIR</a> principles
        against the background of current standards in Digital Humanities.
    </p>
    <p class="mb-3">
        <a href="https://demo.openatlas.eu" target="_blank">Demo</a><br>
        <a href="https://demo-dev.openatlas.eu" target="_blank">Development Demo</a><br>
        <a href="https://demo.openatlas.eu/static/manual" target="_blank">Manual</a><br>
        <a href="https://redmine.openatlas.eu/projects/uni/wiki" target="_blank">Documentation</a><br>
        <a href="https://github.com/craws/OpenAtlas" target="_blank">Code</a> on GitHub
    </p>

    <p>
        <span class="news-teaser">News</span>
        {{ latest_news_item.date }}: {{ latest_news_item.title }}
        - <a href="/news">read more</a>
    </p>
    <p>
        Follow us on
        <a target="_blank" href="https://twitter.com/OpenAtlas_eu/">
            <img id="twitter-logo" src="/static/vendor/twitter_logo.png" alt="Twitter" title="Twitter @OpenAtlas_eu">
        </a>
        <a target="_blank" href="https://www.facebook.com/OpenAtlas-110972181246866">
            <img id="facebook-logo" src="/static/vendor/facebook_logo.png" alt="Facebook" title="Facebook">
        </a>
    </p>

    <!-- The Gallery as lightbox dialog -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title">.</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <p class="mb-1" style="font-weight: bold;">Screenshots</p>
    <div id="links" class="mb-3">
        <a href="/static/images/screenshot/1_big.png" title="Overview">
            <img class="screenshot" src="/static/images/screenshot/1_small.png"
            alt="Landing page of OpenAtlas with Overview">
        </a>
        <a href="/static/images/screenshot/2_big.png" title="Place overview">
            <img class="screenshot" src="/static/images/screenshot/2_small.png"
            alt="Overview of places entered">
        </a>
        <a href="/static/images/screenshot/3_big.png" title="Place insert">
            <img class="screenshot" src="/static/images/screenshot/3_small.png"
            alt="UI used to enter a new place into the database">
        </a>
        <a href="/static/images/screenshot/4_big.png" title="Network">
            <img class="screenshot" src="/static/images/screenshot/4_small.png"
            alt="Network of entered entities">
        </a>
        <a href="/static/images/screenshot/5_big.png" title="Types">
            <img class="screenshot" src="/static/images/screenshot/5_small.png"
            alt="Overview of available types">
        </a>
        <a href="/static/images/screenshot/6_big.png" title="Manual">
            <img class="screenshot" src="/static/images/screenshot/6_small.png"
            alt="OpenAtlas manual">
        </a>
        <a href="/static/images/screenshot/7_big.png" title="Model">
            <img class="screenshot" src="/static/images/screenshot/7_small.png"
            alt="CIDOC CRM Model for historical data">
        </a>
        <a href="/static/images/screenshot/8_big.png" title="Model">
            <img class="screenshot" src="/static/images/screenshot/8_small.png"
            alt="CIDOC CRM Model for archaeological data">
        </a>
    </div>
    <p class="mb-1" style="font-weight: bold;">How to use OpenAtlas</p>
    <p>
        OpenAtlas is not a stand alone application but meant to be installed on a Linux web server.
        The code is open source (<a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html"
        target="_blank">GPL2 licence</a>) and freely available on
        <a href="https://github.com/craws/OpenAtlas" target="_blank">GitHub</a>. Some experience
        about server administration is required, for more information please take a look at the
        <a href="https://github.com/craws/OpenAtlas/blob/master/install.md" target="_blank">
        install notes</a>.
    </p>
    <p>
        In case you are interested in a cooperation you can find more information <a href="{{ url_for('cooperation') }}">here</a>.
    </p>
    <p class="mb-1" style="font-weight: bold;">Development</p>
    <p>
        OpenAtlas was and is funded by several <a href="{{ url_for('projects') }}">projects</a>,
        grants, institutes and departments:
    </p>
    <div id="credits" class="mb-4">
        {{ ['OEAW', 'ACDH', 'OeAI', 'IMAFO', 'RHUL', 'JGU', 'NHM', 'LBI', 'univie', 'ERC', 'FWF']|display_institutes }}
    </div>
    <p>
        Feel free to contact us at <a href="mailto:openatlas@oeaw.ac.at">openatlas@oeaw.ac.at</a>.
    </p>
    <script src="/static/js/gallery.js"></script>
    <script src="/static/vendor/blueimp-gallery-2.33.0/js/blueimp-gallery.min.js"></script>
{% endblock %}
