{% extends "layout.html" %}
{% block content %}
    <p style="font-weight: bold;">Welcome to OpenAtlas</p>
    <p class="mb-4">
        OpenAtlas is an open source, web based database system for complex archaeological, historical and geospatial data.<br />
        The information is mapped as a network using classes and properties of the
        <a href="http://www.cidoc-crm.org/" target="_blank">CIDOC CRM</a>.
    </p>
    <p class="mb-4">
        <a href="https://demo.openatlas.eu" target="_blank">Demo</a><br/>
        <a href="https://redmine.openatlas.eu/projects/uni/wiki/Documentation" target="_blank">Documentation</a><br/>
        Code on <a href="https://github.com/craws/OpenAtlas" target="_blank">GitHub</a>
    </p>

    <!-- The Gallery as lightbox dialog -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <p>Screenshots:</p>
    <div id="links" class="mb-5">
        <a href="/static/images/screenshot/1_big.png" title="About">
            <img class="screenshot" src="/static/images/screenshot/1_small.png" alt="About">
        </a>
        <a href="/static/images/screenshot/2_big.png" title="Place overview">
            <img class="screenshot" src="/static/images/screenshot/2_small.png" alt="Place overview">
        </a>
        <a href="/static/images/screenshot/3_big.png" title="Place insert">
            <img class="screenshot" src="/static/images/screenshot/3_small.png" alt="Place insert">
        </a>
        <a href="/static/images/screenshot/4_big.png" title="Network">
            <img class="screenshot" src="/static/images/screenshot/4_small.png" alt="Network">
        </a>
        <a href="/static/images/screenshot/5_big.png" title="Types">
            <img class="screenshot" src="/static/images/screenshot/5_small.png" alt="Types">
        </a>
        <a href="/static/images/screenshot/6_big.png" title="Model">
            <img class="screenshot" src="/static/images/screenshot/6_small.png" alt="Model">
        </a>
    </div>
    <p>
        Development was and is funded by several <a href="{{ url_for('projects') }}">projects</a>,
        grants, institutes  and departments:
    </p>
    <div id="credits" class="mb-5">
        {{ ['OEAW', 'IMAFO', 'ACDH', 'ERC', 'univie', 'FWF']|display_institutes|safe }}
    </div>
    <p>
        Feel free to contact us at <a href="mailto:info@openatlas.eu">info@openatlas.eu</a>.
    </p>
    <script src="/static/js/gallery.js"></script>
    <script src="/static/vendor/blueimp-gallery-2.33.0/js/blueimp-gallery.min.js"></script>
{% endblock %}
