{% extends "layout.html" %}
{% block content %}
<h3>Congresses, Presentations and Workshops</h3>
<p class="mt-4">
    Some of the papers and presentations are available
    <a href="https://oeaw.academia.edu/AlexanderWatzinger" target="_blank">here</a>.
</p>
{% if upcoming %}
    <h4 class="mt-4 mb-4">Upcoming</h4>
{% endif %}
{% for date, event in upcoming.items() %}
    <div class="mb-4">
        {{ date }}<br/>
        {% if event.link %}
            <a href="{{ event.link }}" target="_blank">{{ event.name }}</a>
        {% else %}
            {{ event.name }}
        {% endif %}
        <br/>
        {% if event.title %}
            <strong>{{ event.title }}</strong><br/>
        {% endif %}
        {{ event.country }}, {{ event.city }}, {{ event.institute }}
    </div>
{% endfor %}
{% if upcoming %}
    <h4 class="mt-4 mb-4">Past</h4>
{% endif %}
{% for year, events in past.items() %}
    <h4>{{year}}</h4>
    {% for date, event in events.items() %}
        <div class="mb-4">
            {{ date }}
            {% if event.link %}
                <a href="{{ event.link }}" target="_blank">{{ event.name }}</a>
            {% else %}
                {{ event.name }}
            {% endif %}
            <br/>
            {% if event.title %}
                <strong>{{ event.title }}</strong><br/>
            {% endif %}
            {{ event.country }}, {{ event.city }}, {{ event.institute }}
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}
