{% extends "layout.html" %}
{% block content %}
    <p>
        This is an overview of implemented features.
        More details are available at the
        <a target="_blank"
           href="https://redmine.openatlas.eu/projects/uni/wiki/Documentation">documentation</a>.
        For upcoming features take a look at our
        <a target="_blank" href="https://redmine.openatlas.eu/projects/uni/roadmap">Roadmap</a>.
    </p>
    <h4 class="mt-4 mb-4">CIDOC CRM</h4>
    <p>
        The web interface provides tools to enter and manipulate data which will be saved in a
        <a target="_blank" href="http://www.cidoc-crm.org/">CIDOC CRM</a>
        compatible model to a <a target="_blank" href="https://www.postgresql.org/">PostgreSQL</a>
        database. It was paid much attention to design a web
        interface where users don't have to be aware of the underlying data model. The CIDOC CRM
        specification was imported to the system, can be browsed and is used to verify link
        conformity between entities. Additionally, link combinations can be tested manually
        e.g when planning model extensions.
    </p>
    <h4 class="mt-4 mb-4">Interactive Map</h4>
    <p>
        Places with locations can be entered on an interactive map based on
        <a target="_blank" href="https://leafletjs.com/">Leaflet</a> which features different view
        layers, zooming, fullscreen, clustering, searching and much more.
        <a target="_blank" href="https://postgis.net/">PostGIS</a> is used for creating and
        manipulating spatial data. It is possible to define multiple points, lines, areas and shapes
        for locations.
    </p>
    <h4 class="mt-4 mb-4">System, Custom and Value Types</h4>
    <p>
        With this feature the model and user interface forms can be adapted for specific research
        interests. Already provided system types can be extended. Additionally, it is possible to
        add new types e.g. "hair color" for persons. These type hierarchies can be configured to
        allow single or multiple choices. A type can be used for multiple entities e.g.
        a hierarchy "importance" for places, actors and groups.
        Also value types can be created to add numeric values e.g. weight or material composition
        of a find.
    </p>
    <h4 class="mt-4 mb-4">Linked data</h4>
    <p>
        This is an ongoing process. At the moment links to
        <a target="_blank" href="http://www.geonames.org/">GeoNames</a> identifier can be created
        in the map using the GeoNames API. Also generic references, e.g. providing an URL for an
        actor to a Wikipedia entry. Other features e.g. linking to
        <a target="_blank" href="https://www.wikidata.org">Wikidata</a> will follow.
    </p>
    <h4 class="mt-4 mb-4">File Upload</h4>
    <p>
        Files can be uploaded and linked with entities. It is possible to link one file to multiple
        entities (e.g. a group picture for many actors) and the other way round. Files are available
        to download in the original size. In the admin interface the upload file size limit and
        allowed extensions can be configured.
    </p>
    <h4 class="mt-4 mb-4">Network Visualization</h4>
    <p>
        With the integration of <a target="_blank" href="https://d3js.org/">D3.js</a> it is possible
        to visualize data as a network graph in 2D and 3D.
    </p>
    <h4 class="mt-4 mb-4">Archaeological Subunits</h4>
    <p>
        For detailed mapping of archeological finds, e.g. in a cemetery. They are used in a strict
        hierarchy: Place -> Feature (e.g. a grave) -> Stratigraphic Unit (e.g. a coffin or skeleton)
        -> Find (e.g. grave goods).
    </p>
    <h4 class="mt-4 mb-4">Search and Filters</h4>
    <p>
        To allow quick navigation even in a big data set full-text search can be used.
        Additionally, a refined advanced search can be used to filter the results (e.g. only actors,
        also search in descriptions).
        Tables and tree views can have many entries and have a full-text filter for convenience.
        The map provides a search field for a GeoNames search.
    </p>
    <h4 class="mt-4 mb-4">Export</h4>
    <p>
        A CSV export for single tables and a SQL export (pg_dump) are implemented in the admin
        interface.
    </p>
    <h4 class="mt-4 mb-4">Import</h4>
    <p>
        CSV lists can be imported, e.g. a list of places (name, description, dates and point
        coordinates).
    </p>
    <h4 class="mt-4 mb-4">Users and Groups</h4>
    <p>
        Users and Groups are used to grant different access levels. If email is configured new users
        can receive an automated mail with access data and can also request password resets.
    </p>
    <h4 class="mt-4 mb-4">Internationalization</h4>
    <p>
        Multiple languages for the user interface are implemented with
        <a target="_blank" href="https://www.gnu.org/software/gettext/">gettext</a>. At the moment
        English and German are implemented but it can easily be extended if translations for other
        languages are available.
    </p>
    <h4 class="mt-4 mb-4">Newsletter</h4>
    <p>
        This feature enables managers and admins to send newsletters. An editable receiver list
        with users who have opted in is shown. Newsletters will contain an unsubscribe link.
    </p>
    <h4 class="mt-4 mb-4">Bookmarks</h4>
    <p>
        Bookmarks are user specific and can be used to e.g. mark entries which need further editing.
        Already bookmarked entities are shown on the start page after login.
    </p>
{% endblock %}
