<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg">
    <title>OpenAtlas</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/blueimp-gallery-2.33.0/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <a href="/"><img src="/static/images/layout/logo.png" alt="OpenAtlas"></a>
    </div>
    <div class="row mb-4 mt-4">
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {{ ''|display_menu|safe }}
                </div>
            </div>
        </nav>
    </div>
    <main role="main">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>
