<!DOCTYPE html>
<html lang="{{ session['language'] }}">
    <head>
        <meta charset="UTF-8" />
        <title>OpenAtlas</title>
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/"><img src="/static/images/layout/logo.png" alt="OpenAtlas" /></a>
            </div>
        </div>
        <div id="menu">
            <a href='/'>{{ _('overview')|uc_first }}</a>
            <a href='/credits'>{{ _('credits')|uc_first }}</a>
        </div>
        <div id="breadcrumb">
            {% block breadcrumb %}{% endblock %}
        </div>
        <main>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>
