{% extends "layout.html" %}
{% block content %}
<p class="mb-5">
    Listed below you can find projects from different fields of the humanities that used or are currently using OpenAtlas for their
    research. These projects cooperate closely with the OpenAtlas team. Their requirements and requested features were and are implemented
    within the main development of the software.
</p>
{% if ongoing %}
        <h4 class="mt-4 mb-4">Ongoing</h4>
    {% endif %}
{% for name, project in ongoing.items() %}
    <div class="row">
        <div class="col-md-3 projects mr-5" style="text-align:center;">
            {% if project.img %}
                {% if project.url %}
                    <a class="img" target="_blank" rel="noopener" href="{{ project.url }}">
                {% endif %}
                <img src="/static/images/projects/{{ project.img }}" alt="{{ name }}">
                {% if project.url %}
                    </a>
                {% endif %}
                {% if project.image_license %}
                    <br><span class="image-license">{{ project.image_license|safe }}</span>
                {% endif %}
            {% endif %}
        </div>
        <div class="col mb-5">
            <p>
                <span style="font-weight: bold;">{{ name }}</span><br>
                {{ project.duration }}, PI: {{ project.pi }}
            </p>
            <p>
                {% if not project.full_name.startswith('The') %}The {% endif %}
                {% if project.url %}
                    <a target="_blank" rel="noopener" href="{{ project.url }}">
                        {{ project.full_name }}
                    </a>
                {% else %}
                    <span style="font-weight:bold;">{{ project.full_name }}</span>
                {% endif %}
                project {{ project.text|safe  }}
            </p>
            {% if project.archive_url %}
                <p>
                    Archived at:
                    <a target="_blank" rel="noopener" href="{{ project.archive_url }}">
                        {{ project.archive_url }}
                    </a>
                </p>
            {% endif %}
            {% if project.institutes %}
                <div class="projects-institutes">
                    {{ project.institutes|display_institutes }}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% if concluded %}
        <br>
        <h4 class="mt-4 mb-4">Concluded</h4>
    {% endif %}
{% for name, project in concluded.items() %}
    <div class="row">
        <div class="col-md-3 projects mr-5" style="text-align:center;">
            {% if project.img %}
                {% if project.url %}
                    <a class="img" target="_blank" rel="noopener" href="{{ project.url }}">
                {% endif %}
                <img src="/static/images/projects/{{ project.img }}" alt="{{ name }}">
                {% if project.url %}
                    </a>
                {% endif %}
                {% if project.image_license %}
                    <br><span class="image-license">{{ project.image_license|safe }}</span>
                {% endif %}
            {% endif %}
        </div>
        <div class="col mb-5">
            <p>
                <span style="font-weight: bold;">{{ name }}</span><br>
                {{ project.duration }}, PI: {{ project.pi }}
            </p>
            <p>
                {% if not project.full_name.startswith('The') %}The {% endif %}
                {% if project.url %}
                    <a target="_blank" rel="noopener" href="{{ project.url }}">
                        {{ project.full_name }}
                    </a>
                {% else %}
                    <span style="font-weight:bold;">{{ project.full_name }}</span>
                {% endif %}
                project {{ project.text|safe  }}
            </p>
            {% if project.archive_url %}
                <p>
                    Archived at:
                    <a target="_blank" rel="noopener" href="{{ project.archive_url }}">
                        {{ project.archive_url }}
                    </a>
                </p>
            {% endif %}
            {% if project.institutes %}
                <div class="projects-institutes">
                    {{ project.institutes|display_institutes }}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}
