{% extends "layout.html" %}
{% block content %}
  <h4 class="mt-4 fw-bold fs-4">Articles</h4>
  <hr>
  {{ 'Aspöck et al. 2023' }}
  {{ 'Richards et al. 2023' }}
  {{ 'Eichert 2021' }}
  {{ 'Eichert - Koschiček - Popović 2016' }}
  <h4 class="fw-bold fs-4">Book Chapters</h4>
  <hr>
  {{ 'Eichert - Richards - Watzinger 2024' }}
  {{ 'Trognitz - Carloni - Koschiček-Krumbholz 2024' }}
  {{ 'Richards - Eichert - Watzinger 2023' }}
  {{ 'Watzinger 2019' }}
  {{ 'Eichert 2014' }}
  </div>
{% endblock %}
