{% extends "layout.html" %}
{% block content %}
  <h4 class="mt-4 fw-bold fs-4">Publications</h4>
  <hr>
  <ul>
    {% for key, publication in publications.items() %}
      <li>
        <strong>{{ key }}</strong> <br> {{ publication['authors'] }},
        <em>{{ publication['title'] }}.</em>
        {{ publication['in'] }} ({{ publication['year'] }}),
        {{ publication.get('pages', 'N/A') }}.

        {% if publication.get('doi') %}
          <a href="{{ publication['doi'] }}" target="_blank">DOI</a>
        {% endif %}

        {% if publication.get('pdf') %}
          <a href="{{ publication['pdf'] }}" target="_blank">PDF</a>
        {% endif %}

        <br><br>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
