{% extends "layout.html" %}
{% block content %}
<p class="mb-4">
  OpenAtlas uses solely open source technology. It is and always will be free of charge and open source to guarantee
  continued usage.<br>
  The code is freely available on <a href="https://github.com/craws/OpenAtlas" target="_blank">GitHub</a>.
  Have a look at the list below for an overview of used technologies.
</p>
{% for name, software in stack.items() %}
  <div class="row">
    <div class="col-md-2" style="text-align:center;">
      <a target="_blank" rel="noopener" href="{{ software.url }}">
        <img class="team" src="/static/images/software/{{ software.img }}" alt="">
      </a>
    </div>
    <div class="col mb-3">
      <p>
        <span style="font-weight: bold;">{{ name }}</span> {{ software.text|safe }}<br>
        Website: <a target="_blank" rel="noopener" href="{{ software.url }}">{{ software.url }}</a><br>
        Licence: {{ software.license }}
      </p>
    </div>
  </div>
{% endfor %}
{% endblock %}
