{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div id="team" style="float:left">
        <div>
            <img src="/static/images/team/stefan.jpg" alt="Stefan"/>
            <p class="name">Stefan Eichert</p>
            Idea and Concept<br/>
            CIDOC CRM Adaptions and Mappings
            <a href="mailto:stefan.eichert@oeaw.ac.at">stefan.eichert@oeaw.ac.at</a>
        </div>
        <div>
            <img src="/static/images/team/alex.png" alt="Alex"/>
            <p class="name">Alexander Watzinger</p>
            Software Development and Concept<br/>
            <a href="mailto:alexander.watzinger@oeaw.ac.at">alexander.watzinger@oeaw.ac.at</a>
        </div>
        <div>
            <img src="/static/images/team/jan.png" alt="Jan"/>
            <p class="name">Jan Belik</p>
            Logo and Design Consulting<br/>
            <a href="mailto:buero@janbelik.com">buero@janbelik.com</a>
        </div>
        <div>
            <img src="/static/images/team/daniel.png" alt="Daniel"/>
            <p class="name">Daniel Kittel</p>
            Quality Assurance<br/>
            <a href="mailto:daniel.kittel@craws.net">daniel.kittel@craws.net</a>
        </div>
        <div>
            <img src="/static/images/team/christoph.jpg" alt="Christoph"/>
            <p class="name">Christoph Hoffmann</p>
            Frontend<br/>
            <a href="mailto:christoph.hoffmann@oeaw.ac.at">christoph.hoffmann@oeaw.ac.at</a>
        </div>
    </div>
    <div style="float: left;">
        <p style="font-weight: bold">Contributors</p>
        <p>
            Asil Çetin<br/>
            Bernhard Koschicek<br/>
            Christof Rauchenberger<br/>
            Johannes Preiser-Kapeller<br/>
            Judith Pucher (Digital Laut)<br/>
            Katharina Winckler<br/>
            Mihailo Popović<br/>
            Peter Andorfer<br/>
            Petra Heinicker<br/>
            Veronika Gründhammer<br/>
        </p>
    </div>
</div>
{% endblock %}
