{% extends "layout.html" %}
{% block content %}
  {% for name, person in team.items() %}
    {% if not loop.index or (loop.index % 2) %}
      <div class="row">
    {% endif %}
      <div class="col-md-auto mb-4">
        <img class="team" src="/static/images/team/{{ person.img }}" alt=""><br>
          {% if person.image_license %}
            <span class="image-license">{{ person.image_license|safe }}</span>
          {% endif %}
      </div>
      <div class="col mb-4">
        <p>
          <span style="font-weight: bold;">{{ name }}</span><br>
            {{ person.function }}<br>
          <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        </p>
        <p>{{ person.text|safe }}</p>
      </div>
      {% if not (loop.index % 2) %}
          </div>
      {% endif %}
  {% endfor %}
  <h5>Contributors</h5>
  <p>These people supported us in many different ways. Our thanks goes to all of them.</p>
  <p class="mb-4">
    Aleksandra Apic<br>
    Asil Çetin<br>
    Britta Breuers<br>
    Christof Rauchenberger<br>
    Dalibor Pančić<br>
    Daniel Kittel<br>
    Ekaterini Mitsiou<br>
    Johannes Preiser-Kapeller<br>
    Judith Pucher<br>
    Katharina Winckler<br>
    Klaus Illmayer<br>
    Ludwig Maximilian Breuer<br>
    Mihailo Popović<br>
    Peter Andorfer<br>
    Petra Heinicker<br>
    Roland Filzwieser<br>
    Sandra Lehecka<br>
    Saranya Balasubramanian<br>
    Semra Kilic-Dinler<br>
    Seta Štuhec<br>
    Stefan Probst
  </p>
{% endblock %}
