{% extends "layout.html" %}
{% block content %}
  <h4 class="mt-4 fw-bold fs-4">Team</h4>
  <hr>
  {{ 'Stefan Eichert'|display_team_member|safe }}
  {{ 'Nina Richards'|display_team_member|safe }}
  {{ 'Alexander Watzinger'|display_team_member|safe }}
  {{ 'Bernhard Koschiček-Krombholz'|display_team_member|safe }}
  {{ 'Olivia Reichl'|display_team_member|safe }}
  {{ 'Katharina Wünsche'|display_team_member|safe }}
  <h4 class="fw-bold fs-4">Additional support</h4>
  <hr>
  {{ 'Christoph Hoffmann'|display_team_member|safe }}
  {{ 'Massimiliano Carloni'|display_team_member|safe }}
  {{ 'Jan Belik'|display_team_member|safe }}
  <h4 class="fw-bold fs-4">Contributors</h4>
  <hr>
  <p>These people supported us in many ways. Our thanks go to all of them.</p>
  <div class="row mb-4">
    {% for column in contributors %}
      <div class="col">
        {% for name in column %}
          {{ name }}<br>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
